<%= form_for @familium, :html => { :class => "form-horizontal familium" } do |f| %>

    <% if @familium.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@familium.errors.count, "error") %> prohibited this familium from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @familium.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :nome, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nome, :class => 'form-control' %>
    </div>
    <%= error_span(@familium[:nome]) %>
  </div>
  <div class="control-group">
    <%= f.label :tipo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tipo, :class => 'form-control' %>
    </div>
    <%= error_span(@familium[:tipo]) %>
  </div>
  <div class="control-group">
    <%= f.label :inforcacoes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :inforcacoes, :class => 'form-control' %>
    </div>
    <%= error_span(@familium[:inforcacoes]) %>
  </div>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            familia_path, :class => 'btn btn-default' %>

<% end %>
