<%= form_for(@familium) do |f| %>
  <% if @familium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@familium.errors.count, "error") %> prohibited this familium from being saved:</h2>

      <ul>
      <% @familium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :inforcacoes %><br>
    <%= f.text_area :inforcacoes %>
  </div>
  <div class="field">
    <%= f.label :renda %><br>
    <%= f.text_field :renda %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
