<p id="notice"><%= notice %></p>

<h1>Listing Familia</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Inforcacoes</th>
      <th>Renda</th>
      <th>Enquadramento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @familia.each do |familium| %>
      <tr>
        <td><%= familium.nome %></td>
        <td><%= familium.tipo %></td>
        <td><%= familium.inforcacoes %></td>
        <td><%= familium.renda %></td>
        <td><%= familium.enquadramento %></td>
        <td><%= link_to 'Show', familium %></td>
        <td><%= link_to 'Edit', edit_familium_path(familium) %></td>
        <td><%= link_to 'Destroy', familium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Familium', new_familium_path %>
