<%= form_for @pessoa, :html => { :class => "form-horizontal pessoa" } do |f| %>

    <% if @pessoa.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@pessoa.errors.count, "error") %> prohibited this pessoa from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @pessoa.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :nome, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nome, :class => 'form-control' %>
    </div>
    <%= error_span(@pessoa[:nome]) %>
  </div>
  <div class="control-group">
    <%= f.label :tipo, :class => 'control-label' %>
    <div class="controls">
      <%= select(:pessoa, :tipo, [['Fisica', 'fisica'], ['Juridica',  'juridica']]) %>
    </div>
    <%= error_span(@pessoa[:tipo]) %>
  </div>
  <div class="control-group">
    <%= f.label :sexo, :class => 'control-label' %>
    <div class="controls">
      <%= select(:pessoa, :sexo, [['Masculino', 'masculino'], ['Feminino',  'feminino']]) %>
    </div>
    <%= error_span(@pessoa[:sexo]) %>
  </div>
  <div class="control-group">
    <%= f.label :data_nascimento, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :data_nascimento %>
    </div>
    <%= error_span(@pessoa[:data_nascimento]) %>
  </div>
  <div class="control-group">
    <%= f.label :telefone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :telefone, :class => 'form-control' %>
    </div>
    <%= error_span(@pessoa[:telefone]) %>
  </div>
  <div class="control-group">
    <%= f.label :papel, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :papel, :class => 'form-control' %>
    </div>
    <%= error_span(@pessoa[:papel]) %>
  </div>
  <div class="control-group">
    <%= f.label :nacionalidade, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nacionalidade, :class => 'form-control' %>
    </div>
    <%= error_span(@pessoa[:nacionalidade]) %>
  </div>
  <div class="control-group">
    <%= f.label :raca, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :raca, :class => 'form-control' %>
    </div>
    <%= error_span(@pessoa[:raca]) %>
  </div>
  <div class="control-group">
    <%= f.label :estado_civil, :class => 'control-label' %>
    <div class="controls">
      <%= select(:pessoa, :estado_civil, [['Solteiro(a)', 'solteiro'], ['Casado(a)',  'casado'],['Divorciado(a)', 'divorciado'], ['Viúvo(a)', 'viuvo']]) %>
    </div>
    <%= error_span(@pessoa[:estado_civil]) %>
  </div>
  <div class="control-group">
    <%= f.label :ocupacao, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ocupacao, :class => 'form-control' %>
    </div>
    <%= error_span(@pessoa[:ocupacao]) %>
  </div>
  <div class="control-group">
    <%= f.label :salario, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :salario, :class => 'form-control' %>
    </div>
    <%= error_span(@pessoa[:salario]) %>
  </div>
  <div class="control-group">
    <%= f.label :informacoes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :informacoes, :class => 'form-control' %>
    </div>
    <%= error_span(@pessoa[:informacoes]) %>
  </div>
  <div class="control-group">
    <%= f.label :responsavel, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :responsavel %>
    </div>
    <%= error_span(@pessoa[:responsavel]) %>
  </div>
  <div class="control-group">
    <%= f.label :familium_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:familium_id, Familium.all, :id, :nome)  %>
    </div>
    <%= error_span(@pessoa[:familium_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            pessoas_path, :class => 'btn btn-default' %>

<% end %>
