<%- model_class = Pessoa -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:tipo) %></th>
      <th><%= model_class.human_attribute_name(:sexo) %></th>
      <th><%= model_class.human_attribute_name(:data_nascimento) %></th>
      <th><%= model_class.human_attribute_name(:telefone) %></th>
      <th><%= model_class.human_attribute_name(:papel) %></th>
      <th><%= model_class.human_attribute_name(:nacionalidade) %></th>
      <th><%= model_class.human_attribute_name(:raca) %></th>
      <th><%= model_class.human_attribute_name(:estado_civil) %></th>
      <th><%= model_class.human_attribute_name(:ocupacao) %></th>
      <th><%= model_class.human_attribute_name(:salario) %></th>
      <th><%= model_class.human_attribute_name(:informacoes) %></th>
      <th><%= model_class.human_attribute_name(:responsavel) %></th>
      <th><%= model_class.human_attribute_name(:familium_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pessoas.each do |pessoa| %>
      <tr>
        <td><%= link_to pessoa.id, pessoa_path(pessoa) %></td>
        <td><%= pessoa.nome %></td>
        <td><%= pessoa.tipo %></td>
        <td><%= pessoa.sexo %></td>
        <td><%= pessoa.data_nascimento %></td>
        <td><%= pessoa.telefone %></td>
        <td><%= pessoa.papel %></td>
        <td><%= pessoa.nacionalidade %></td>
        <td><%= pessoa.raca %></td>
        <td><%= pessoa.estado_civil %></td>
        <td><%= pessoa.ocupacao %></td>
        <td><%= pessoa.salario %></td>
        <td><%= pessoa.informacoes %></td>
        <td><%= pessoa.responsavel %></td>
        <td><%= pessoa.familium_id %></td>
        <td><%=l pessoa.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_pessoa_path(pessoa), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      pessoa_path(pessoa),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_pessoa_path,
            :class => 'btn btn-primary' %>
